body{
    margin: 0;
}

.header{
    background-color: rgb(210, 210, 210);
    padding: 10px;
    text-align: center;
    height: 100px;
}

.menu ul{
    background-color: rgb(180, 180, 180);
    padding: 10px;
    margin:0;
}

.menu ul li{
    list-style-type: none;
    display: inline;
    padding-right: 10px;
}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}
.menu ul li a:hover{
    background-color: rgb(0, 0, 0);
    color: red;
}
.sidebar{
    background-color: rgb(150, 150, 150);
    padding: 0 10px;
    margin-right: 3px;
    width: 15%;
    min-height: 710px;
    float: left;
}
.sidebar li{
    list-style-type: none;
    padding: 10px;
}
.sidebar a{
    text-decoration: none;
    color: black;
}
.sidebar a:hover{
    color: red;
}
.change{
    width: 82%;
    padding: 0 15px;
    background-color: rgb(228, 228, 228);
    min-height: 710px;
    float: left;
}
.change header{
    color: rgb(129, 0, 0);
    font-size: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.change .content{
    font-size: 16px;
}
.change footer{
    border-top: 1px solid black;
    padding: 10px;
    float: right;
}
.page-bottom{
    background-color: rgb(50, 50, 50);
    padding: 10px;
    height: 56px;
    clear: left;
}
summary{
    border-bottom: 1px solid black;
    margin:10px 0 0 0;
}
.text{
    position: absolute;
    list-style-type: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.text li{
    display: inline-block; /* sayfada yer varsa yan yana yaz yoksa alt satıra in*/
    margin-right: 10px;
    font-size: 3em;
    opacity: 1;
    font-weight: bold;
    transition: all 4s ease;
}
.text li:last-child{margin-right:0}
.text.Hidden{opacity: 0;}
.text.Hidden li:nth-child(1){transform: translate(-220px, -200px);}
.text.Hidden li:nth-child(2){transform: translate(30px, 100px);}
.text.Hidden li:nth-child(3){transform: translate(-120px, -60px);}
.text.Hidden li:nth-child(4){transform: translate(10px, -200px);}
.text.Hidden li:nth-child(5){transform: translate(-210px, 190px);}
.text.Hidden li:nth-child(6){transform: translate(-75px, 10px);}
.text.Hidden li:nth-child(7){transform: translate(250px, 220px);}
.text.Hidden li:nth-child(8){transform: translate(-20px, -100px);}
.text.Hidden li:nth-child(9){transform: translate(280px, 45px);}